<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
                        
    
    
    
    
    <wb-module deploy-name="ei40_qpe_sim_profile">
                                                
        
        
        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                                                
        
        
        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                                                
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                                                
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
                                                
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-test-sources/test-annotations"/>
                                                
        
        
        
        
        <property name="java-output-path" value="/ei40_qpe_sim/target/classes"/>
                        
        
        <property name="context-root" value="ei40_qpe_sim_profile"/>
                                            
    
    
    
    
    </wb-module>
                    




</project-modules>
